/* Agrandir l'image dans la navbar */
.navbar .brand-logo {
    width: 100px;  /* Exemple de taille à ajuster */
    height: auto;
}

/* Agrandir l'image dans le footer */
.footer .brand-logo {
    width: 100px;  /* Exemple de taille à ajuster */
    height: auto;
}